#home {
    margin-top: 100px;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
#img-carrossel-1, #img-carrossel-2 {
    border-radius: 20px;
    position: relative;
   
}
#img-carrossel-1::before {
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 0;
}

#home .botao-banner {
    border: 2px solid #fff;
    cursor: pointer;
    width: 200px;
    background: none;
    border-radius: 300px;
    outline: none;
    font-weight: bold;
    color: #fff;
    transition: all .6s ease-in-out;
}
#home .botao-banner:hover {
    background: #fff;
    color: #12224e;
}

#secao-2, #secao-3 {
    margin-top: 10px;
    margin: 10px;
    display: flex;
    color: #12224e;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;  
}
#secao-2 .cartao {
    position: relative;
    background: none;
    height: 431px;
    margin: 15px;
    width: 275px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all .6s ease-in-out; 
    margin-left: 20px;
}
#secao-2 .cartao:hover {
    transform: scaleX(1.04) scaleY(1.04);
    box-shadow: 1px 1px 5px #000;
    cursor: pointer;
}
#secao-2 .cartao .sinal-alerta {
    position: absolute;
    top: 5px;
    right: 9px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    height: 40px;
    border-radius: 100%;
    color: #ff0f0f;
    outline: none;
    border: 1px solid #ff0f0f;
    cursor: pointer;
}
#secao-2 .cartao .sinal-alerta:hover {
    text-decoration: none;
}
#secao-2 .cartao .sinal-alerta:hover i {
    animation: swing 1s ease;
    animation-iteration-count: 1;
}
#secao-2 .cartao .texto {
    position: absolute;
    bottom: 0px;
    width: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 15px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 3px 4px 6px rgba(0, 0, 0, 0.25);
}
#secao-2 .cartao .texto h3 {
    color: #1B3270;
    font-weight: 600;
    font-size: 1.3rem;
    margin-top: 10px;
}

#secao-2 .cartao .texto .btns-cartao {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
#secao-2 .cartao .texto .btns-cartao a {
    width: 40%;
    height: 40px;
    background-color: #12224e;
    color: #fff;
    font-weight: 600;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#secao-2 .cartao .texto .btns-cartao .compara {
    width: 40%;
    height: 40px;
    border-radius: 30px;
    outline: none;
    background-color: #ff0f0f;
    cursor: pointer;
    border: none;
    color: #fff;
    font-weight: 600;
}
#secao-2 .cartao .texto .btns-cartao a:hover {
    text-decoration: none;
}
#secao-3 h3 i {
    color: green;
}
#secao-3 ul {
    text-align: center;
    margin-top: 15px;
}
#secao-3 ul a li{
    display: flex;
    align-items: center;
    background-color: #fff;
    margin-top: 10px;
    padding: 10px;
    color: #12224e;
    border-radius: 20px;
    font-weight: 700;
}
#secao-3 ul a li img {
    width: 80px;
    height: 80px;
}
#secao-3 ul a li .primeiro i{
    color: rgb(245, 245, 16);
}
#secao-3 ul a li .segundo i{
    color: rgb(123, 123, 123);
}
#secao-3 ul a li .terceiro i {
    color: rgb(177, 177, 1);
}
#secao-3 ul a:hover {
    text-decoration: none;
}
#secao-3 ul a li img, .descricao {
    margin-left: 10px;
}
#container {
    padding: 15px;
    max-width: 80%;
    color: #12224e;
    margin: 0 auto;
    text-align: center;
}
#container .galleria-wrapper {
    overflow-x: auto;
    margin-top: 20px;
}
#container .galleria-wrapper .galleria {
    display: flex;
    flex-flow: row nowrap;
    gap: 15px;
}
.seta-left, .seta-right {
    margin-top: 20px;
    margin: 15px;
    width: 50px;
    height: 50px;
    outline: none;
    cursor: pointer;
    border-radius: 100%;
    border: none;
    background-color: #ff0f0f;
    color: aliceblue;
}

#container .galleria-wrapper .galleria .iten {
    flex-shrink: 0;
    opacity:0.6;
    transition: all 600ms ease-in-out;
}
#container .galleria-wrapper .galleria .cartao-galeria {
    border-radius: 20px;
    background-color: #fff;
    width: 350px;
    height: 450px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    align-items: center;
    justify-content: space-around;
    transition: all .6s ease-in-out;
    
}
#container .galleria-wrapper .galleria .cartao-galeria:hover {
    opacity: 1;
}
#container .galleria-wrapper .galleria .cartao-galeria .text-cartao {
    width: 100%;
    display: flex;
    font-weight: 700;
    flex-direction: column;
    text-align: center;
    color: #12224e;
    align-items: center;
}
#container .galleria-wrapper .galleria .current-iten {
    opacity: 1;
}
#container .galleria-wrapper::-webkit-scrollbar {
    display: none;
}
  
  /* Hide scrollbar for IE, Edge and Firefox */
#container .galleria-wrapper {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
@keyframes swing {
    15% {
    transform: translateX(5px) rotate(5deg);

    }
    30% {
    transform: translateX(-5px) rotate(-5deg);
    }
    50% {
    transform: translateX(3px) rotate(3deg);
    }
    65% {
    transform: translateX(-3px) rotate(-3deg);
    }
    80% {
    transform: translateX(2px) rotate(2deg);
    }
    100% {
    transform: translateX(0) rotate(0deg);
    }
}
@media(max-with: 1000px) {
    #home {
        margin-top: 120px;
    }
    #home .botao-banner {
        width: 150px;
        height: 5px;
        margin-top: 300px;
        
    }
}