@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
* {
    margin: 0;
    padding: 0;
    /*overflow-x: hidden;*/
    scroll-behavior: smooth;
}
li {
    list-style: none;
}
html {
    height: 100%;
    height: 100%;
    overflow-x: hidden;
}
body {
    font-family: 'Ubuntu', sans-serif;
    background-color: rgb(230, 228, 228);
    overflow-x: hidden;
    
}
header{
    position: fixed;
    top: 0;
    z-index: 3;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: #1B3270;
    box-shadow: 1px 1px 5px #000;      
}
#nav #fecha{
    display: none;
}
header section {
    width: 100%;
    display: flex;
    height: 100px;
    overflow-y: hidden;
    align-items: center;
    justify-content: space-around;
}
header section ul {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
header section .area-search {
    padding: 10px;
}
header section .area-search input {
    width: 460px;
    padding: 8px;
    border: none;
    background-color: #ccc;
    border-radius: 40px;
    outline: none;
}
header section .area-search button {
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border: none;
    border-radius: 100%;
    color: #1B3270;
    background-color: #ccc;
    transition: all .6s ease-in-out;
}
header section .area-search button i {
    position: relative;
    z-index: 2;
}
header section .area-search button::before {
    position: absolute;
    left: 1px;
    bottom: 0px;
    content: '';
    background-color: rgb(246, 65, 65);
    width: 1px;
    height: 0%;
    border-radius: 100%;
    transition: all .6s ease-in-out;
}
header section .area-search button:hover::before {
    height: 100%;
    width: 100%;
}
header section .area-search button:hover{
    background: none;
    
}
header section .area-search button a {
    color: #1B3270;
}
header section .area-search .cupom {
    margin-left: 10px;
}
header section ul {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
header section ul li {
    padding: 10px;
}
header section ul li a {
    padding: 8px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
header section ul li a.sino:hover {
    animation: swing 1s ease;
    animation-iteration-count: 1;
}
header section ul li a:hover {
    transition: all .6s ease-in-out;
    text-decoration: none;
    color: rgb(246, 65, 65);
}
header #btn-mobile {
    display: none;
}
header #nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
header #nav #menu {
    width: 80%;
    padding-top: 6px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
header #nav #menu li.li-mobile {
    display: none;
}
header #nav #menu li a{
    position: relative;
    font-size: 1.3rem;
    color: #fff;      
}
header #nav #menu li a::before {
    position: absolute;
    content: '';
    background-color: #fff;
    border-radius: 20px;
    width: 0;
    margin-top: 10px;
    height: 3px;
    bottom: -3px;
    left: 0;
    transition: all .6s ease-in-out;

}
header #nav #menu li a:hover::before {
    width: 100%;
}
header #nav #menu li a:hover {
    transition: all .6s ease-in-out;
    text-decoration: none;
    color: rgb(246, 65, 65);
}
.area-botoes {
    display: none;
}
#home {
    margin-top: 100px;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
#img-carrossel-1, #img-carrossel-2 {
    border-radius: 20px;
    position: relative;
   
}
#img-carrossel-1::before {
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: #fff;
    position: absolute;
    left: 0;
    top: 0;
}

.botao-banner {
    border: 2px solid #fff;
    cursor: pointer;
    padding: 15px;
    width: 200px;
    margin: 20px;
    background: none;
    border-radius: 300px;
    outline: none;
    font-weight: bold;
    color: #fff;
    transition: all .6s ease-in-out;
}
.botao-banner:hover {
    background: #fff;
    color: #12224e;
}

#secao-2, #secao-3 {
    margin-top: 10px;
    margin: 10px;
    display: flex;
    color: #12224e;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;  
}
#secao-2 .cartao {
    position: relative;
    background: none;
    height: 431px;
    margin: 15px;
    width: 275px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all .6s ease-in-out; 
    margin-left: 20px;
}
#secao-2 .cartao:hover {
    transform: scaleX(1.04) scaleY(1.04);
    box-shadow: 1px 1px 5px #000;
    cursor: pointer;
}
#secao-2 .cartao .sinal-alerta {
    position: absolute;
    top: 5px;
    right: 9px;
    width: 40px;
    background: none;
    height: 40px;
    border-radius: 100%;
    color: #ff0f0f;
    outline: none;
    border-color: #ff0f0f;
    cursor: pointer;
}
#secao-2 .cartao .sinal-alerta:hover i {
    animation: swing 1s ease;
    animation-iteration-count: 1;
}
#secao-2 .cartao .texto {
    position: absolute;
    bottom: 0px;
    width: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 15px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 3px 4px 6px rgba(0, 0, 0, 0.25);
}
#secao-2 .cartao .texto h3 {
    color: #1B3270;
    font-weight: 600;
    font-size: 1.3rem;
    margin-top: 10px;
}

#secao-2 .cartao .texto .btns-cartao {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
#secao-2 .cartao .texto .btns-cartao a {
    width: 40%;
    height: 40px;
    background-color: #12224e;
    color: #fff;
    font-weight: 600;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#secao-2 .cartao .texto .btns-cartao button {
    width: 40%;
    height: 40px;
    border-radius: 30px;
    outline: none;
    background-color: #ff0f0f;
    cursor: pointer;
    border: none;
    color: #fff;
    font-weight: 600;
}
#secao-2 .cartao .texto .btns-cartao a:hover {
    text-decoration: none;
}
#secao-3 h3 i {
    color: green;
}
#secao-3 ul {
    text-align: center;
    margin-top: 15px;
}
#secao-3 ul a li{
    display: flex;
    align-items: center;
    background-color: #fff;
    margin-top: 10px;
    padding: 10px;
    color: #12224e;
    border-radius: 20px;
    font-weight: 700;
}
#secao-3 ul a li img {
    width: 80px;
    height: 80px;
}
#secao-3 ul a li .primeiro i{
    color: rgb(245, 245, 16);
}
#secao-3 ul a li .segundo i{
    color: rgb(123, 123, 123);
}
#secao-3 ul a li .terceiro i {
    color: rgb(177, 177, 1);
}
#secao-3 ul a:hover {
    text-decoration: none;
}
#secao-3 ul a li img, .descricao {
    margin-left: 10px;
}
#container {
    padding: 15px;
    max-width: 80%;
    color: #12224e;
    margin: 0 auto;
    text-align: center;
}
#container .galleria-wrapper {
    overflow-x: auto;
    margin-top: 20px;
}
#container .galleria-wrapper .galleria {
    display: flex;
    flex-flow: row nowrap;
    gap: 15px;
}
.seta-left, .seta-right {
    margin-top: 20px;
    margin: 15px;
    width: 50px;
    height: 50px;
    outline: none;
    cursor: pointer;
    border-radius: 100%;
    border: none;
    background-color: #ff0f0f;
    color: aliceblue;
}

#container .galleria-wrapper .galleria .iten {
    flex-shrink: 0;
    opacity:0.6;
    transition: all 600ms ease-in-out;
}
#container .galleria-wrapper .galleria .cartao-galeria {
    border-radius: 20px;
    background-color: #fff;
    width: 350px;
    height: 450px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    align-items: center;
    justify-content: space-around;
    transition: all .6s ease-in-out;
    
}
#container .galleria-wrapper .galleria .cartao-galeria:hover {
    opacity: 1;
}
#container .galleria-wrapper .galleria .cartao-galeria .text-cartao {
    width: 100%;
    display: flex;
    font-weight: 700;
    flex-direction: column;
    text-align: center;
    color: #12224e;
    align-items: center;
}
#container .galleria-wrapper .galleria .current-iten {
    opacity: 1;
}
#container .galleria-wrapper::-webkit-scrollbar {
    display: none;
}
  
  /* Hide scrollbar for IE, Edge and Firefox */
#container .galleria-wrapper {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
footer {
    background-color: #333;
    margin-top: 30px;
    padding: 20px;
}
footer nav {
    color: rgb(210, 210, 210);
}
footer nav h4 {
    font-size: 1.1rem;
}
footer nav ul li a {
    color: #fff;
    transition: all .6s ease-in-out;
}
footer nav ul li a:hover {
    text-decoration: none;
    color: #ff0f0f;
}
@keyframes swing {
    15% {
    transform: translateX(5px) rotate(5deg);

    }
    30% {
    transform: translateX(-5px) rotate(-5deg);
    }
    50% {
    transform: translateX(3px) rotate(3deg);
    }
    65% {
    transform: translateX(-3px) rotate(-3deg);
    }
    80% {
    transform: translateX(2px) rotate(2deg);
    }
    100% {
    transform: translateX(0) rotate(0deg);
    }
}
@media(max-width: 1000px){

    
    header section .area-search {
        display: none;
    }
    header section {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    header section ul {
        display: none;
    }
    header #btn-mobile {
        display: block;
        background-color: none;
        outline: none
    }
    header #nav {
        position: relative;
        display: block;
    }
    header #nav #menu {
        display: block;
        position: fixed;
        width: 0px;
        top: 0px;
        left: 0px;
        background: #12224e;
        box-shadow: 1px 1px 5px #000;
        height: 100vh;
        transition: .5s;
        z-index: 2000;
        visibility: hidden;
        overflow-y: hidden;

    }
    header #nav #menu li.li-mobile {
        display: block;
    }
    header #nav.active #fecha {
        display: block;
        position: absolute;
        top: 0;
        right: 50px;
        border: none;
        margin-top: 10px;
        color: #fff;
        outline: none;
        background: none;
        cursor: pointer;
    }

    header #nav.active #fecha:hover{
        color: rgb(246, 65, 65);
        transition: all .6s;
    }
    header #nav.active #menu {
        width: 60%;
        height: 100vh;
        padding-top: 80px;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        border-radius: 0px 20px 20px 0px;
        visibility: visible;
        overflow-y: auto;
        justify-content: flex-start;
    }
    header #nav #menu li {
        margin-top: 30px;
    }
    header #nav #menu li a {
        font-size: 1.2rem;
        opacity: 0;
        margin: 0 1em;
        transition: all .6s ease-in-out; 
    }
    
    header #nav.active #menu li a {
        opacity: 1;
        transition: all .6s ease-in-out;
    }

    header #btn-mobile {
        padding: .5em 1em;
        border: none;
        outline: none;
        margin-right: 40px;
        background: none;
        color: #fff;
        cursor: pointer;
    }
    .area-botoes {
        width: 100vw;
        position: fixed;
        z-index: 2;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .area-botoes nav {
        width: 80%;
        padding-top: 10px;
        border-radius: 50px 50px 0px 0px;
        background-color:  rgba(255, 0, 0, 0.74);
    }
    .area-botoes ul {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .area-botoes ul li {
        padding: 20px;
    }
    .area-botoes nav ul li  button{
        height: 60px;
        width: 60px;
        border-radius: 100%;
        cursor: pointer;
        outline: none;
        background: none;   
        border: 1px solid #fff;
        color: #fff;
        transition: all .6s ease-in-out;
    }
    
    .area-botoes nav ul li  button:hover {
        background-color: #12224e;
        box-shadow: 1px 1px 5px #000;
        transform: scale(1.1);
        border-color: #12224e;
    }
    .area-botoes nav ul li  button a {
        color: #fff;
        
    }
    #modal {
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.8);
        position: fixed;
        display: none;
        overflow-y: auto;
        overflow-x: hidden;
        z-index: 30000;
        animation: animate;
        animation-duration: 800ms;
    }
    #cont-modal {
        display: flex;
        margin-top: 200px;
        margin-left: 80px;
        margin-right: 85px;
        overflow-x: hidden;
        width: 80%;
        height: 200px;
        justify-content: center;
        align-items: center;
    }
    #cont-modal input {
        width: 60%;
        height: 50px;
        color: #fff;
        font-size: 30px;
        border: none;
        outline: none;
        border-bottom: 2px solid #fff;
        background: none;
        
    }
    #cont-modal input::placeholder {
        color: #fff;
    }
    #voltar {
        margin-top: 10px;
        margin-left: 15px;
        background: none;
        outline: none;
        border: none;
        cursor: pointer;
        color: #fff;
    }
    #voltar .fa-solid:hover {
        color: #ff0f0f;
        transition: all .3s;
    }
    #area-fechar {
        cursor: pointer;
        background: none;
        border: none;
        outline: none;
    }
    #area-fechar .fa-solid {
        color: #fff;
    }
    #home {
        margin-top: 120px;
    }
    .botao-banner {
        padding: 5px;
        width: 150px;
        margin-bottom: -50px;
        
    }
    footer {
        padding-bottom: 120px;
    }
    @keyframes animate {
        from{
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    
}
